.THIS .green {
    -webkit-font-smoothing: antialiased !important;
    cursor: pointer !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
    display: inline-block !important;
    font-weight: normal !important;
    text-align: center !important;
    text-decoration: none !important;
    -moz-transition: all .4s ease !important;
    -webkit-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
    background: rgb(76,175,80) !important;
    border-radius: 6px !important;
    border-width: 0px !important;
    color: rgb(255,255,255) !important;
    font-family: sans-serif !important;
    height: auto !important;
    transition: all .4s ease !important;
    padding: 6px 18px !important;
    text-shadow: none !important;
    width: auto !important;
    font-size: 24px !important;
    line-height: 1.5em !important;
}

.THIS .green:hover {
    background: rgb(83,192,88) !important;
    color: #fff !important;
    text-decoration: none !important;
}

.THIS .orange {
    -webkit-font-smoothing: antialiased !important;
    cursor: pointer !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
    display: inline-block !important;
    font-weight: normal !important;
    text-align: center !important;
    text-decoration: none !important;
    -moz-transition: all .4s ease !important;
    -webkit-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
    background: rgb(255,152,0) !important;
    border-radius: 6px !important;
    border-width: 0px !important;
    color: rgb(255,255,255) !important;
    font-family: sans-serif !important;
    height: auto !important;
    transition: all .4s ease !important;
    padding: 6px 18px !important;
    text-shadow: none !important;
    width: auto !important;
    font-size: 24px !important;
    line-height: 1.5em !important;
}

.THIS .orange:hover {
    background: #ffa700 !important;
    color: #fff !important;
    text-decoration: none !important;
}

.THIS .blue {
    -webkit-font-smoothing: antialiased !important;
    cursor: pointer !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
    display: inline-block !important;
    font-weight: normal !important;
    text-align: center !important;
    text-decoration: none !important;
    -moz-transition: all .4s ease !important;
    -webkit-transition: all .4s ease !important;
    -o-transition: all .4s ease !important;
    background: rgb(53,116,227) !important;
    border-radius: 6px !important;
    border-width: 0px !important;
    color: rgb(255,255,255) !important;
    font-family: sans-serif !important;
    height: auto !important;
    transition: all .4s ease !important;
    padding: 6px 18px !important;
    text-shadow: none !important;
    width: auto !important;
    font-size: 24px !important;
    line-height: 1.5em !important;
}

.THIS .blue:hover {
    background: rgb(58,127,249) !important;
    color: #fff !important;
    text-decoration: none !important;
}